html {
  margin: none;
  padding: none;
}

main {
  display: flex;  
}

a {
  text-decoration: none;
}

/*
header, a {
  padding-bottom: 1%;
}
*/

nav {
  width: 240px;
  /*height: 40%;*/
  top: 0;
  left: 0;
  position: fixed;
}

code {
  display: block;
  background-color: gray;
  color: beige;
  padding: 0.4%;
  border-radius: 0.25em;
  line-height: 1.7;
}

.section-title {
  padding-top: 1em;
}

nav a {
  display: block;
}

.nav-link {
  padding: 1% 2%;
  color: beige;
}

#menu-header {
  color: beige;
}

#content {
  padding-left: 245px;
  color: black;
}

#nav-container {
  padding: 0.5%;
  background-color: gray;
  border-radius: 0.25em;
  margin-top: 2%;
  margin-left: 2%;
}