html {
  margin: none;
  padding: none;
}

main {
  display: flex;  
}

a {
  text-decoration: none;
}

/*
header, a {
  padding-bottom: 1%;
}
*/

nav {
  width: 15%;
  height: 38.5%;
  padding: 0.5%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: gray;
  border-radius: 0.25em;
  margin-top: 0.5%;
  margin-left: 0.5%;
}

code {
  background-color: gray;
  color: beige;
  padding: 0.4%;
  border-radius: 0.25em;
}

.section-title {
  padding-top: 1em;
}

nav a {
  display: block;
}

.nav-link {
  padding: 1% 2%;
  color: beige;
}

#menu-header {
  color: beige;
}

#content {
  padding-left: 17%;
  color: black;
}