@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Playfair:wght@300&family=VT323&display=swap');

html {
  margin: none;
  padding: none;
}

main {
  display: flex;  
}

a {
  text-decoration: none;
}

code {
  font-family: 'VT323', monospace;
}

/*
header, a {
  padding-bottom: 1%;
}
*/

header, p, li {
  font-family: 'Playfair', serif;
  font-size: 0.95em;
  letter-spacing: 0.015em;
}

p {
  line-height: 130%;
  margin-bottom: -0.5%;
}

nav {
  width: 240px;
  /*height: 40%;*/
  top: 0;
  left: 0;
  position: fixed;
}

header, ul {
  margin-bottom: -0.5%;
}

li {
  margin-bottom: 0.4%;
  line-height: 130%;
}

code {
  display: block;
  background-color: gray;
  color: beige;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-left: 1%;
  border-radius: 0.25em;
  line-height: 1.7;
  margin-top: 1.5%;
}

.section-title {
  padding-top: 1em;
}

nav a {
  display: block;
}

.nav-link {
  padding-left: 4%;
  padding-bottom: 1.75%;
  color: beige;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.05em;
}

#content {
  padding-left: 245px;
  padding-right: 1%;
  color: black;
}

#nav-container {
  padding: 0.5%;
  background-color: gray;
  border-radius: 0.25em;
  margin-top: 2%;
  margin-left: 2%;
  padding-top: 1.75%;
}